# Compiled class files
*.class

# Log file
*.log

# Maven
target/
**/target/

# IDEs
.idea/
*.iml
out/
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store

# Node
node_modules/

# ENV
.env

# Docker
docker-compose.override.yml

# Sensitive
secrets.properties
